@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

/*** 

Mobile TABLES

***/
.responsive-table.mobile,
.mobile thead,
.mobile tbody,
.mobile th,
.mobile td,
.mobile tr {
  display: block;
}

.mobile thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.mobile tr {
  border: 1px solid #ccc;
}

.mobile td {
  border: none;
  border-bottom: 1px solid #ccc;
  position: relative;
  text-align: right;
  word-wrap: break-word;
}

.mobile .responsive-header {
  font-size: 18px !important;
  color: #444444 !important;
  font-weight: bold;
  display: inline;
  float: left;
  padding: 0px !important;
  padding-left: 5px!important;
  border:none;
  ;
}

.mobile td:before {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 45%;
  padding-right: 10px;
  white-space: nowrap;
}

.responsive-header {
  display: none;
}

hr {
	margin-top: .2em;
}


/***

ALERTS 

***/

.mycal-alert {
	margin-bottom: 20px;
}
.mycal-alert-body h3, .mycal-alert-body p {
	color: #000000;
}
.mycal-alert-heading {
	font-weight: 700;
}

a.mask { 
	position: relative;
    top: 0.75rem;
}


/* Body */
body {
	font-family: 'Open Sans', arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #000;
}
p {
	margin: 0 0 .75em;
}
* + p { 
	margin-top: .75em !important; 
}

p.lead {
	font-size: 25px;
	line-height: 30px;
	margin-bottom: .75em !important;
}


label, .label {
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
	color: #000;
}
.helper-text {
	font-size: 12.8px;
	line-height: 24px;
	font-weight: 400;
	color: #000;
	margin: 0 !important;
}
.disclaimer-text {
	font-size: 12.8px;
	line-height: 24px;
	font-weight: 400;
	color: #000;
	margin: 5px 0 5px 0;
}
span.required {
	font-size: 12.8px;
	line-height: 24px;
	font-weight: 400;
	vertical-align: baseline;
	color: #cc0033;
}


/* Headings */

.fa-info-circle {
	font-size: 1.25rem;
    color: #00659e;
}

.typography p {
	margin-top: 0px;
	font-size: 0.875rem;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-weight: 500;
	font-family: 'Open Sans', Arial, sans-serif;
	color: #000;
	margin: 24px 0 12px;
}
h1, .h1 {
	font-size: 48.828125px;
	line-height: 58.59375px;
	margin-top: 0;
}
h2, .h2 {
	font-size: 39.0625px;
	line-height: 46.875px;
}

h2 a:focus, .h2 a:focus {
	outline: solid;
    outline: 3px solid #39659b;
    border-radius: 0;
    margin: .25rem !important;
    line-height: .25rem;
}

h3, .h3 {
	font-size: 31.25px;
	line-height: 37.5px;
}
h4, .h4 {
	font-size: 25px;
	line-height: 30px;
}
h5, .h5 {
	font-size: 20px;
	line-height: 24px;
}
h6, .h6 {
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
}


.sidebar {
    padding: 16px 24px 16px;
    border: 1px solid #00659e;
    margin-bottom: 24px;
}

.sidebar h2,
.sidebar .h2 {
	font-size: 25px;
	line-height: 30px;
	margin-top: 0 !important;
}

.sidebar p {
	font-size: 16px;
	line-height: 24px;
	text-align: left;
}


/* Links */

a {
	color: #00659e;
	text-decoration: underline;
	cursor: pointer;
	padding: 0;
}

a:focus, a.focus {
	outline: 3px solid #39659b;
	outline-offset: 3px;
}

a:hover, a.hover {
	color: #003c5e;
	text-decoration: underline;
}

li.mycal-nav-secondary-item button.mycal-nav-link:focus {
    outline: .25rem solid #ffffff;
    margin: 0;
    outline-offset: 0;
}

.mycal-prose>a:focus {
    outline-offset: 4px;
}


.mycal-skipnav:focus {

    outline: solid;
    outline: 3px solid #000000;
	     line-height: inherit;
}

a.cancel {
    vertical-align: middle;
    float: right;
	line-height: 34px;
}

a.cancel:focus {
    line-height: inherit;
    margin: 0 !important;
}

a:visited, a.visited {
	color: #715192;
}
a.primary-nav-link {
	color: #000000;
	text-decoration: underline;
	font-size: 1.125rem;
	line-height: 25px;
	padding: 10px 15px;
	font-weight: 400;
}
a.primary-nav-link.active {
	font-weight: 600;
}
a.primary-nav-link:hover, a.primary-nav-link.hover {
	color: #00659e;
}
a.primary-nav-link:focus, a.primary-nav-link.focus {
	outline: solid;
	outline: 3px solid #00659e;
	outline-offset: 4px;
	border-radius: 0;
	margin: 5px;
}
a.secondary-nav-link {
	color: #000000;
	text-decoration: underline;
	font-size: 1rem;
	line-height: 16px;
	padding: 10px 12px;
 font-weight: 400;
}
a.secondary-nav-link.active {
	font-weight: 600;
}
a.secondary-nav-link:hover, a.secondary-nav-link.hover {
	color: #000000;
}
a.secondary-nav-link:focus, a.secondary-nav-link.focus {
	outline: 3px solid #00659e;
	outline-offset: 3px;
}
.mycal-external_link:after {
	background: url(../../images/external-link.svg) no-repeat 0 0;
	background-size: 100%;
}
.mycal-external_link:hover:after {
	background: url(../../images/external-link-hover.svg) no-repeat 0 0;
	background-size: 100%;
}
.mycal-footer-primary-section .mycal-footer-primary-link:focus, a.mycal-footer-primary-link.focus {
	outline-color: #fff;
	outline-offset: -6px;
}
.mycal-footer-primary-link.mycal-external_link:after {
	background: url(../../images/external-link-white.png) no-repeat 0 0;
	background-size: 100%;
}
.mycal-footer-primary-link.mycal-external_link:hover:after {
	background: url(../../images/external-link-white.png) no-repeat 0 0;
	background-size: 100%;
}
.mycal-footer-primary-section .mycal-footer-primary-link {
	margin: 0 10px;
	text-decoration: underline;
}
a.tooltip {
	border-bottom: 1px dashed;
	cursor: help;
	font-weight: normal;
	font-size: 85%;
	margin-top: -3px;
	margin-left: 15px;
	text-decoration: none;
}

/* Popovers */

a.quicktip /*.tooltip*/ {
	border-bottom: 1px dashed;
	cursor: help;
	font-weight: normal;
	font-size: 85%;
	margin-top: -3px;
	margin-left: 15px;
	text-decoration: none;
}

a.quicktip-text {
	border-bottom: 1px dashed;
	cursor: help;
	font-weight: normal;
	font-size: 1rem;
	text-decoration: none;
}

p a.quicktip {
	margin-left: 0px;	
}

.link-anchor {
  position: relative;
  width: 0;
  font-size: .8em;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.anchor-wrapper {
  border: none;
}

.anchor-wrapper:hover .link-anchor {
  opacity: 1;
}

section h1[id]:focus,
section h2[id]:focus,
section h3[id]:focus,
section h4[id]:focus,
section h5[id]:focus {
  outline: 0;
}

.popper,
.tooltip {
    position: absolute;
    background: #ffffff;
    color: black;
    max-width: 300px;
    border-radius: 3px;
    border:1px solid #666666;
    padding: 10px;
    text-align: center;
	font-size:0.875rem;
}

.style5 .tooltip {
    background: #1E252B;
    color: #FFFFFF;
    max-width: 200px;
    width: auto;
    font-size: .8rem;
    padding: .5em 1em;
}

.popper .popper__arrow,
.tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
}

.tooltip .tooltip-arrow,
.popper .popper__arrow {
    border-color: #666666;
}

.style5 .tooltip .tooltip-arrow {
    border-color: #666666;
}

.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
    margin-bottom: 5px;
}
			
.tooltip[x-placement^="top"] .tooltip-arrow::before, .tooltip-arrow::before {
    border-width: 5px 5px 0 5px;
    border-left-color: #ffffff;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    bottom: -5px;
    left: calc(50% 5px);
    margin-top: 0;
    margin-bottom: 0;
    border-color: #ffffff;
    position: absolute;
    border-style: solid;
    z-index: 999999;
}		
			
.popper[x-placement^="top"] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
    margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
    margin-left: 5px;
}

.popper[x-placement^="right"] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
    margin-right: 5px;
}

.popper[x-placement^="left"] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

/* Numbers */
.big-number {
	font-size: 48.828125px;
    line-height: 58.59375px;
	font-weight:600;
	color: #666;
}
.small-number {
	font-size: 31.25px;
	line-height: 37.5px;
	font-weight: 500;
	color: #000;
}

/* Buttons */
.button {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 500;
	text-align: center;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.6;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-right: .5rem;
	width: inherit;
}

.button.large {
	width:100%;
}
.mycal-button, .mycal-button.active {
	color: #ffffff;
	background-color: #b95726;
	border-color: #a44d22;
}

.mycal-button:hover, .mycal-button-hover {
	color: #ffffff;
	background-color: #8f431d;
	border-color: #713517;
	text-decoration: none;
}

.mycal-button:focus, .mycal-button-focus {
	color: #a3582d;
	background-color: #fff;
	border-color: #a3582d;
	outline-color: #a3582d;
	outline-offset: -3px;
	outline-style: solid;
	outline-width: 3px;
	line-height: inherit;
}

/* Add spacing between the icon and the text in a button */
.mycal-button .fa,
.mycal-button-secondary .fa {
	margin-right: .25em;
}

/*.mycal-button-secondary, .mycal-button-secondary.active {
	color: #23518b;
	background-color: #cce0eb;
	border-color: #9fc3d7;
}
.mycal-button-secondary:hover, .mycal-button-secondary-hover {
	color: #103d77;
	background-color: #96bacf;
	border-color: #78aac6;
}
.mycal-button-secondary:focus, .mycal-button-secondary-focus {
	color: #23518b;
	background-color: #cce0eb;
	border-color: #9fc3d7;
	outline-color: #a3582d;
	outline-offset: -3px;
	outline-style: solid;
	outline-width: 3px;
}*/
.mycal-button-secondary, .mycal-button-secondary.active {
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
}
.mycal-button-secondary:hover, .mycal-button-sedcondary-hover {
	color: #333333;
	background-color: #e6e6e6;
	border-color: #adadad;
}
.mycal-button-secondary:focus, .mycal-button-secondary-focus {
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
	outline-color: #a3582d;
	outline-offset: -3px;
	outline-style: solid;
	outline-width: 3px;
		line-height: inherit;

}
.disabled {
	opacity: .5;
}
/*Color Boxes*/

.colors p {
	margin-top: 0px;
	font-size: 0.875rem;
}
.color-box {
	display: block;
	margin-right: 2.35765%;
	width: 80%;
	margin-bottom: 0;
	padding-top: 65%;
}
.color-box-small {
	display: block;
	margin-right: 2.35765%;
	width: 80%;
	margin-bottom: 0;
	padding-bottom: 50%;
}
.calpers-blue {
	background-color: #00659e;
}
.calpers-grey {
	background-color: #88898d;
}
.navbar-blue {
	background-color: #cce0eb;
}
.calpers-grey-hover {
	background-color: #e2e2e2;
}
.dynamic-blue {
	background-color: #0080b8;
}
.dynamic-blue-hover {
	background-color: #e1ebef;
}
.dark-grey {
	background-color: #666666;
}
.sunspark-gold {
	background-color: #f4b125;
}
.white {
	background-color: #ffffff;
}
.spark-orange {
	background-color: #b95726;
}
.purple {
	background-color: #715192;
}
.gray-darker {
	background-color: #222222;
}
.gray-dark {
	background-color: #333333;
}
.gray {
	background-color: #555555;
}
.gray-light {
	background-color: #777777;
}
.gray-lighter {
	background-color: #eeeeee;
}
.green {
	background-color: #689844;
}
.green-hover {
	background-color: #dae2c7;
}
.yellow {
	background-color: #c49128;
}
.yellow-hover {
	background-color: #f9edcd;
}
.red {
	background-color: #cc0033;
}
.red-hover {
	background-color: #f4e4e4;
}
/* Header and Navigation Styles */


div.mycal-logo img {
    width: 210px;
}


.mycal-header-extended.logout .mycal-logo {
	    padding: .5rem 0;
}

.mycal-navbar {
	background-color: #00659e;
	border: none !important;	
    height: inherit;
}
.mycal-nav {
	background-color: #fff;
	border-bottom: #fff;
}
.mycal-nav.is-visible {
	background-color: #00659e;
}
.mycal-nav .mycal-nav-primary {
	background-color: #fff;
}
.mycal-nav .mycal-nav-link, .mycal-nav .mycal-nav-primary > li > a {
	color: #000000;
}


.mycal-nav-secondary {
	color: #ffffff;
}
.mycal-nav-secondary-links a {
	color: #ffffff;
}
.mycal-nav-secondary-links li.mycal-nav-secondary-item button.mycal-nav-link > span {
color:#ffffff;	
	    margin-right: .5rem;
}

.mycal-nav-secondary-links a:hover {
	color: #ffffff;
}

.mycal-nav-secondary-links span:hover {
	color: #ffffff;
	text-decoration:underline;
}

.mycal-nav-secondary-item button.mycal-nav-link:hover{
    background-color: transparent;
    text-decoration: underline;
}

.mycal-nav .mycal-nav-link.mycal-current {
	font-weight: 600;
	background-color: #cce0eb;
}
.mycal-nav .mycal-nav-link.mycal-current + ul.mycal-nav-submenu {
	background-color: #cce0eb;
}
.mycal-nav .mycal-nav-link.mycal-current:hover {
	text-decoration: none;
	background-color: #ffffff;
}

@media screen and (min-width: 64em) {
	 .mycal-header-extended [aria-expanded=false]:after {
	    bottom: 0;
	    height: .25rem;
	    font-family: "Font Awesome 5 Free";
	    font-weight: 600;
	    content: "\f078";
	    color: #333;
	    display:contents;
	    font-size: .833rem;
	}
		
	.navbar-bg {
		background-color: #00659e;
	}
		
	.mycal-header-extended [aria-expanded=false]:hover:after {
	   color:#00659e !important
	}
	
	.mycal-header-extended .mycal-navbar {
		max-width:75rem;
		margin: 0 auto;
	}
		
	 .mycal-header-extended [aria-expanded=true]:after {
	    font-size: .833rem;
	    bottom: 0;
	    height: .25rem;
	    font-family: "Font Awesome 5 Free";
	    font-weight:900;
	    content: "\f077";
	    color: #333;
	    display:contents;
	}
		
	.mycal-nav-primary button[aria-expanded=false] {
		background-image: none;
		background-image: none;
		background-image: none;
	}
	
	.mycal-nav-primary button[aria-expanded=false]:focus, .mycal-nav-primary .mycal-accordion-button.mycal-current{
		background-image: none; background-image: none; background-image: none;
	}
	
	.mycal-nav-primary button[aria-expanded=false]:hover {
		background-image: none; background-image: none; background-image: none;
		background-repeat: no-repeat
	}
	
	.mycal-nav-primary button[aria-expanded=true] {
	  	background-image: none; background-image: none; background-image: none;
		background-position: right 1rem top 53%;
		background-repeat: no-repeat;
		background-size: .5rem;
		color: #000000;
	}
	
	.mycal-nav-primary button[aria-expanded=true] span {
		 font-weight:600;
	}
	
	.mycal-nav .mycal-nav-primary > li > a:focus, .mycal-nav .mycal-accordion-button.mycal-nav-link:focus {
	    margin: 0 !important;
	}
		
	.mycal-nav-secondary-links .mycal-nav-secondary-item:last-child:after {
	    content: "";
	}
		
	.mycal-nav-secondary-links a:focus {
	    outline: solid;
	    outline: 3px solid #ffffff;
	    outline-offset: 4px;
	    border-radius: 0;
		margin: 0 !important;
		line-height: inherit;	   
	}
		
		    
		
	a#headerLogoId:focus {
	    outline: solid;
	    outline: 3px solid #ffffff;
	    outline-offset: 4px;
	    border-radius: 0;
	    margin: 5px;
		padding: 0rem;
	}
		
	.mycal-nav .mycal-nav-link:hover, .mycal-nav .mycal-accordion-button.mycal-nav-link:hover {
	    text-decoration: none;
	    background-color: #cce0eb;
	    color: #000 !important;
	}	
		
	.messages {
	    font-size: 1.5rem;
	    color: #ffffff;
	    margin: 0.55rem;
	}	
		
	.unreadMessages {
		position: absolute;
	    background: #F4B125;
	    height: 1rem;
	    top: 0.5rem;
	    right: 4.5rem;
	    width: 1rem;
	    text-align: center;
	    line-height: 1rem;
	    font-size: .75rem;
	    border-radius: 50%;
	    color: #000;
	    border: #F4B125;
	    font-family: "Open Sans", arial, sans-serif;
	    font-weight: 600;	
	}	
		
	.mycal-nav-secondary-item > a > i.fa-envelope {
	    font-size: 1.5rem;
	    margin: 0.55rem;
	    color: #ffffff;
	}
		
	.mycal-nav-secondary-item button.mycal-nav-link::after {
	    color: #ffffff !important;
	}
		
	.mycal-nav-secondary-item button.mycal-nav-link:hover:after {
	    color: #ffffff !important;
	}
	
	.mycal-header-extended .mycal-nav-secondary-item > .mycal-nav-link::hover {
	    color:#ffffff;
		text-decoration:underline;
		background-color:transparent;
	}	
}



/* TEST LOG OUT HEADER */
@media screen and (min-width:64em) {
	.mycal-header-extended.logout .mycal-navbar {
		max-width: 160rem;
		border: none !important;
	}
	.mycal-nav-submenu {
		border: none;
		background-color: #cce0eb;
		min-height: 35px;
		list-style-type: none;
		margin-bottom: 0;
		margin-top: 0;
		padding: 1rem;
		position: absolute;
		width: 15rem;
		z-index: 400;
		/* border: 1px solid #000000; */
		border-top: 0;
	}
	
		li.mycal-nav-secondary-item button.mycal-nav-link {
	    background-color: transparent;
	    border: none;
	}
		
	.mycal-header-extended.logout .mycal-logo, .mycal-header-extended .mycal-logo {
		font-size: 2.12941rem;
		margin: 0 !important;
		max-width: 100%;
		    padding: .5rem 0;
	}
	.mycal-header-extended .mycal-nav-inner {
		max-width: 75rem;
		/* box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.1); */
	}
	
	
li.mycal-nav-submenu-item:last-child {
    border-top: 1px solid #88898d;
    padding-top: .5rem;
}
	
	.mycal-nav-submenu > li > a {
		font-size: 1rem;
		text-decoration: underline;
		line-height: 1em !important;
		font-weight: 400;
		padding-left: 2rem;
		color: #00659e !important;
		margin: 0;
	}
	.mycal-nav-submenu > li > a:hover {
		color: #003c5e !important;
	}
		
	.mycal-nav-submenu .mycal-nav-submenu-item a:focus {
	    outline-offset: 3px;
	}
		
	.mycal-nav-secondary-links .mycal-nav-secondary-item:after {
	    color: #ffffff;
	    content: "|";
	    padding: .25rem;
	}
		
		.mycal-nav-secondary-links .mycal-nav-secondary-item+.mycal-nav-secondary-item:last-child:after {
	    content: "";
	    padding: 0;
	}
		
	.mycal-nav-primary-item.mobile	 {
		display:none;
	}
	
	.mycal-mobile-secondary-links {
		display:none;
	}
}


@media screen and (max-width: 63.99em) {
	.mycal-logo {
		text-align: center;
	}
	.mycal-nav{
		padding:0;
	}
		
	ul.mycal-nav-secondary-links > li.mycal-nav-secondary-item:first-child {
	    background-color: #ffffff;
	    border-top: 1px solid #000000;
	    border-bottom: 1px solid #000000;
	    padding: .75rem 0;
	}
	
	.mycal-nav-primary {
   		margin-top:3rem;
   	}
	
	li.mycal-nav-submenu-item:last-child {
    border-top: 1px solid #88898d;
   
}
	
	.mycal-nav .mycal-nav-primary > li {
	    border-top: 1px solid #777;
	    padding: 0;
	}
	
	.mycal-nav .mycal-nav-primary > li:last-child {
		 border-bottom: 1px solid #777;}
	
	.mycal-nav-primary a {
		
		color:#000;
	}
	
	
	.mycal-nav-secondary-links li.mycal-nav-secondary-item button.mycal-nav-link > span {
		color:#000000;
	}
	
	.mycal-nav .mycal-nav-primary > li:first-child {
   	 	/*border-left: 1px solid #000000;*/
	}
	
li#global_54000 {
    border-bottom: 1px solid #777;
}

	.mycal-nav-primary .mycal-current:after {
	    /*DELETE FROM USWDS*/
		display:none;
	}	
	
	.mycal-nav .mycal-nav-link:hover, .mycal-nav .mycal-accordion-button.mycal-nav-link:hover {
	    text-decoration: none;
	    background-color: #ffffff;
	    color: #000000;
	}	
	
	.mycal-nav-submenu-item {
	    border:none;
	    font-size: 1rem;
	}
	
	.mycal-nav-primary button[aria-expanded=false]::after, .mycal-nav-primary a[aria-expanded=false]::after {
	    font-family: "Font Awesome 5 Free";
	    font-weight:900;
	    content: "\f107";
	    color: #333;
	    float: right;
	    font-size: 1rem;
	}
	
	
	button.mycal-accordion-button.mycal-nav-link.mycal-current span::after {
	        font-family: "Font Awesome 5 Free";
	    font-weight:900;
	    content: "\f107";
	    color: #333;
	    float: right;
	    font-size: 1rem;
	}
	
	button[aria-expanded=true].mycal-accordion-button.mycal-nav-link.mycal-current span::after {
	       font-family: "Font Awesome 5 Free";
	       font-weight:900;
	       content: "\f077";
	       color: #333;
	       float: right;
	       margin-top: -.25rem;
	       font-size: .833rem;
	}
	
	li.mycal-nav-primary-item > button.mycal-accordion-button.mycal-nav-link[aria-expanded=true] ~ ul.mycal-nav-submenu {
	    background-color: #ffffff;
	}	

	.mycal-nav .mycal-nav-primary button[aria-expanded=true]:after, .mycal-nav .mycal-nav-primary-item .mycal-nav-link[aria-expanded=true]:after, .mycal-nav .mycal-nav-primary-item .mycal-nav-link a[aria-expanded=true]:after{
		font-family: "Font Awesome 5 Free";
		font-weight:900;
		content: "\f077";
		color: #333;
		float: right;
		margin-top: -.25rem;
		font-size: .822rem;
	}
	
	.mycal-nav .mycal-nav-primary button[aria-expanded=true], .mycal-nav .mycal-nav-primary-item .mycal-nav-link[aria-expanded=true] {
		background-color: #cce0eb;
	}
	
	.mycal-nav .mycal-nav-primary button[aria-expanded=true] span, .mycal-nav .mycal-nav-primary-item .mycal-nav-link[aria-expanded=true] span {
		font-weight:600;
	}	
	
	.mycal-nav-submenu {
    	background-color: #ffffff;
	}
	
	.mycal-nav-secondary {
    	color: #000000;
	}

	.mycal-nav-secondary-links a {
    	color: #000000;
	}	
	
	.mycal-nav .mycal-nav-link.mycal-current {
    	text-decoration: none;
	}
		
	button.mycal-nav-link {
		background:transparent;
		border:none;
		font-size:18px;
	}	
	
	.mycal-nav-primary-item .mobile	 {
		display:block;
	}
	
	.mycal-mobile-secondary-links {
		display:block;
		list-style-type:none;
		-webkit-padding-start: 0;
		margin-top: .75rem;
	}
	
	.mycal-mobile-secondary-item a {
		color:#000000;
		padding-top:0;
		padding-bottom:0;
		font-size: 18px;
	}
	
	.mycal-nav-secondary {
		display:none;
	}
	
	
	.messages {
		font-size: 1.5rem;
    	color: #000000;
    	margin-right: 0.55rem;
	}
	
	.unreadMessages {	
      	position: relative;
	    background: #F4B125;
	    height: 1rem;
	    top: -.5rem;
	    right: 1rem;
	    width: 1rem;
	    text-align: center;
	    line-height: 1rem;
	    font-size: .75rem;
	    border-radius: 75%;
	    color: #000;
	    border: #F4B125;
	    font-family: "Open Sans", arial, sans-serif;
	    font-weight: 600;
	    display: inline-block;
	}	
}	
	
	
	
	
.mycal-menu-btn {
	background-color: #fff !important;
	color: #333333 !important;
	margin: .75rem;
	font-size: 1.05rem;
}
.mycal-menu-btn::before {
       font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0c9";
    margin: .5rem;
}

.mycal-nav-close::before {
       font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00d";
    margin: 0 .5rem;
    float: left;
}


.mycal-nav-close {
    -ms-flex: none;
    -webkit-box-flex: 0;
    -webkit-font-smoothing: auto;
    border: 0;
    border-radius: 0;
    color: currentColor;
    flex: none;
    float: right;
    font-weight: 400;
    height:auto;
    margin:	1rem;
    padding: 0;
    text-align: left;
    text-align: center;
    width:auto;
	  font-size: 1.05rem;
}

.mycal-nav.is-visible {
    background-color: #fff;
}


/* Footer */

.mycal-footer-nav * {
	text-transform: uppercase;
	font-size: 0.875rem;
    max-width: 75rem;
}

.mycal-footer-nav li.grid-col-auto {
	list-style-type: none;
}


.mycal-footer-nav li.grid-col-auto::before {
        font-family: "Font Awesome 5 Free";
	font-weight:900;
    content: "\007C";
    color: #ffffff;
    position: absolute;
    top: 20%;
    font-size: 1rem;
}

.mycal-footer-nav li.grid-col-auto:first-child:before  {
    content: "";
}


li.mycal-footer-primary-content {
	line-height: 0;
	padding: 5px 0;
}
li.mycal-footer-primary-content:before {
	    font-family: "Font Awesome 5 Free";
	font-weight:900;
	content: "\007C";
	color: #ffffff;
}
li.mycal-footer-primary-content:first-child:before {
	content: "";
}
span.mycal-footer-primary-copyright {
	color: #ffffff;
	display: block;
	padding: .5rem;
	margin: 0 10px;
}



@media screen and (max-width:70em) {
	
.mycal-footer-nav ul.flex-wrap.grid-row	{
	display:block;
	    padding-left: 0;
	
	}
	
.mycal-footer-nav li.grid-col-auto::before {
    content: "";
}	
	
}

@media reader, speech, aural {
       .mycal-footer-nav li.grid-col-auto::before {
           display: none;
        visibility: hidden;
       }      
}



/* Form Styles */

input[type=checkbox], input[type=radio] {
    margin: .5rem;
}

.mycal-radio-label:before {
    border-radius: 99rem;
    height: 1rem;
    width: 1rem;
}


span.mycal-checkbox {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    vertical-align: middle;
    border-radius: 2px;
    /* border: 1px solid gray; */
    position: relative;
    left: 22px;
    top: -3px;
    box-shadow: 0 0 0 2px #666666;
    /* align-content: center; */
    background-color: #ffffff;
}

.mycal-radio-input:checked+.mycal-radio-label:before {
   
    box-shadow: 0 0 0 2px #666666, inset 0 0 0 2px #fff;
}

.mycal-checkbox-input:checked+.mycal-checkbox-label:before, .mycal-radio-input:checked+.mycal-radio-label:before {
   
    background-color: #666666;

}
.mycal-checkbox-label:before, .mycal-radio-label:before {

    box-shadow: 0 0 0 2px #666666;
    line-height: 1rem;
    margin-right: .75rem;
}

.mycal-input.mycal-input-success,
.mycal-range.mycal-input-success,
.mycal-select.mycal-input-success,
.mycal-textarea.mycal-input-success {
    border: .25rem solid #689844;
}

 button, html input[type=button], input[type=reset], input[type=submit] {
 
        font-family: "Font Awesome 5 Free", "Open Sans";
}


.mycal-input, .mycal-range, .mycal-select, .mycal-textarea {
    margin: 6px 0;
}


.mycal-textarea:focus {
    outline: .25rem solid #00659e;
    outline-offset: 0;
}

.textAreaCounter {
	font-size: 12.8px;
	line-height: 24px;
}

/* Progress Bar */

.progress-steps p {
	text-align: center;
	font-size: 14px;
	color: #555;
}
.progress-steps .steps-count {
	font-weight: bold;
	color: #666666;
	letter-spacing: .25px;
	margin-bottom: .5em;
}
.progress-steps ol.steps {
	background-color: transparent;
	padding: 0;
	text-align: center;
	margin-bottom: .3em;
}
.progress-steps dl, .progress-steps ol, .progress-steps ul {
	margin-top: 0;
	margin-bottom: 1rem;
}
.progress-steps ol.steps li {
	display: inline-block;
	position: relative;
	float: none;
	margin: .4em 40px .4em 0;
}
.progress-steps ol.steps li.completed:after {
	background: #689844;
}
.progress-steps ol.steps li:after {
	position: absolute;
	content: '';
	height: 5px;
	background: #e2e2e2;
	margin: 0;
	left: 50%;
	width: calc(100% + 40px);
	bottom: -9px;
}
.progress-steps ol.steps li:before {
	content: '';
	position: absolute;
	z-index: 1;
	left: 50%;
	right: auto;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background-color: #e2e2e2;
}
.progress-steps ol.steps li.completed:before {
	background: #689844;
}
.progress-steps ol.steps li {
	display: inline-block;
	position: relative;
	float: none;
	margin: .4em 40px .4em 0;
}
.progress-steps {
	margin: 0 auto;
	text-align: center;
	margin-bottom: 1em;
}
.progress-steps ol.steps li:last-child {
	margin: .4em 0;
}
.progress-steps ol.steps li:last-child:after {
	display: none;
}
.progress-steps ol.steps li.active:before {
	background: #689844;
}
span.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	white-space: nowrap;
	border: 0;
}

/*! @gov.au/progress-indicator v3.1.7 */


@media screen and (min-width: 40em) {
		ul.mycal-progress {
			counter-reset: progress-counter;
}

ul.mycal-progress li > span:before {
content: counter(progress-counter);
counter-increment: progress-counter;

	}
.show-progress {
		display:none;
	}
}

@media screen and (max-width: 40em) {

		li.inactive {
		display:none;
	}
	
	.show-progress {
		display:block;
	}	
}

@media print {
	.mycal-progress {
		border-top-color: #000 !important
	}
	 .mycal-progress__link, .mycal-progress__link {
		color: #000 !important;
		border-bottom-color: #000 !important;
		border-left-color: transparent !important;
		padding-left: 6px !important
	}
	 .mycal-progress__link.mycal-progress__link--doing, .mycal-progress__link.mycal-progress__link--doing {
		border-left-color: #000 !important
	}
	 .mycal-progress__link:after, .mycal-progress__link:after {
		display: none
	}
	.mycal-progress__status {
		color: #000 !important
	}
}
 .mycal-progress, .mycal-progress {
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.25;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	list-style: none;
	padding: 0;
	border-top: 1px solid gray
}
 .mycal-progress > li, .mycal-progress > li {
	margin: 0
}
 .mycal-progress.mycal-progress--dark, .mycal-progress.mycal-progress--dark {
	border-color: #89afb8
}
* + .mycal-progress,  * + .mycal-progress {
	margin-top: 16px;
	margin-top: 1rem
}
 .mycal-progress__link, .mycal-progress__link {
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.25;
	padding: 12px 12px 12px 44px;
	padding: .75rem .75rem .75rem 2.75rem;
	position: relative;
	display: block;
	color: #313131;
	text-decoration: none;
	appearance: none;
	background: transparent;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	border: none;
	border-bottom: 1px solid gray;
	border-left: 3px solid transparent;
	transition: background-color 0.1s ease-in-out;
	cursor: text;
}
 /*
 .mycal-progress__link:hover, .mycal-progress__link:hover {
	background-color: #f5f5f5
}
 .mycal-progress__link:focus, .mycal-progress__link:focus {
	outline: 3px solid #9263DE;
	outline-offset: 2px
}*/
 .mycal-progress__link::-moz-focus-inner, .mycal-progress__link::-moz-focus-inner {
	border: 0
}
 .mycal-progress__link:after, .mycal-progress__link:after {
	left: 8px;
	left: .5rem;
	width: 24px;
	width: 1.5rem;
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23666666' d='M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.6 0 12 0zm0 22C6.5 22 2 17.5 2 12S6.5 2 12 2s10 4.5 10 10-4.5 10-10 10z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: 0 center
}
.ie8  .mycal-progress__link:after, .lt-ie8  .mycal-progress__link:after, .ie8 .mycal-progress__link:after, .lt-ie8 .mycal-progress__link:after {
	top: 6px;
	content: '-'
}
 .mycal-progress__link.mycal-progress__link--doing, .mycal-progress__link.mycal-progress__link--doing {
	border-left-color: #00698f;
	font-weight: bold
}
 .mycal-progress__link.mycal-progress__link--doing:after, .mycal-progress__link.mycal-progress__link--doing:after {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%2300659e' d='M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.6 0 12 0zm0 22C6.5 22 2 17.5 2 12S6.5 2 12 2s10 4.5 10 10-4.5 10-10 10z'/%3E%3Ccircle fill='%2300659e' cx='6.5' cy='12' r='1.5'%3E%3C/circle%3E%3Ccircle fill='%2300659e' cx='12' cy='12' r='1.5'%3E%3C/circle%3E%3Ccircle fill='%2300659e' cx='17.5' cy='12' r='1.5'%3E%3C/circle%3E%3C/svg%3E")
}
.ie8  .mycal-progress__link.mycal-progress__link--doing:after, .lt-ie8  .mycal-progress__link.mycal-progress__link--doing:after, .ie8 .mycal-progress__link.mycal-progress__link--doing:after, .lt-ie8 .mycal-progress__link.mycal-progress__link--doing:after {
	content: '...'
}
 .mycal-progress__link.mycal-progress__link--done:after, .mycal-progress__link.mycal-progress__link--done:after {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23689844' d='M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.6 0 12 0zm0 22C6.5 22 2 17.5 2 12S6.5 2 12 2s10 4.5 10 10-4.5 10-10 10z'/%3E%3Cpath fill='%23689844' d='M18.744186,9.23753281 C18.744186,9.48293963 18.6627907,9.71391076 18.5,9.88713911 L11.3895349,17.7257218 C11.2267442,17.8989501 10.996124,18 10.7655039,18 C10.5484496,18 10.3178295,17.8989501 10.1550388,17.7257218 L5.24418605,12.5 C5.08139535,12.3267717 5,12.0958005 5,11.8503937 C5,11.6049869 5.08139535,11.3595801 5.24418605,11.1863517 L6.47868217,9.88713911 C6.64147287,9.71391076 6.85852713,9.61286089 7.08914729,9.61286089 C7.31976744,9.61286089 7.53682171,9.71391076 7.6996124,9.88713911 L10.7655039,13.1496063 L16.0445736,7.27427822 C16.2073643,7.10104987 16.4244186,7 16.6550388,7 C16.8856589,7 17.1027132,7.10104987 17.2655039,7.27427822 L18.5,8.57349081 C18.6627907,8.74671916 18.744186,8.99212598 18.744186,9.23753281 Z'/%3E%3C/svg%3E")
}
.ie8  .mycal-progress__link.mycal-progress__link--done:after, .lt-ie8  .mycal-progress__link.mycal-progress__link--done:after, .ie8 .mycal-progress__link.mycal-progress__link--done:after, .lt-ie8 .mycal-progress__link.mycal-progress__link--done:after {
	content: #x2714;
}

.mycal-progress__status {
	font-size: 14px;
	font-size: .875rem;
	line-height: 1.14286;
	display: block;
	font-weight: normal;
	color: #636363
}
.mycal-progress--dark .mycal-progress__status {
	color: #b8cfd4
}


@media screen and (max-width: 63.99em) {

ul.mycal-progress li > span:before  {
    content: attr(data-nav-position) !important;
}

ul.mycal-progress li > span:before  {
    content: '';
}


}


/** Changes **/
.grid-row {
	margin: 1rem 0;
	/* background-color: #eee; */
}
.no-close .ui-dialog-titlebar-close {
	display: none;
}
#bprBanner {
	background: #ff0;
	font-weight: bold;
	padding: 2px;
	text-align: center;
	font-size: .80em;
	border: 1px solid #444
}
/** Error class add error icon **/
 /* div.fieldErrorMessage::before {
background: url(../../images/ept/result_error_field_icon.png) no-repeat 0px 3px; }*/

.fieldErrorMessage {
	font-size: 0.875rem;
	font-weight: 600;
	color: #cc0033;
}

div.fieldErrorMessage::before {
    content: "\f057";
       font-family: "Font Awesome 5 Free" !important;
	font-weight:900;
    top: -3px;
    color: #cc0033;
    font-size: 1.25rem;
    left: 10px;
    margin: 27px 5px 27px 5px;
}

.inlineValid {
	font-size: 0.875rem;
	font-weight:600;
	color: #689844;
}

div.inlineValid::before {
    content: "\f058";
    font-family: "Font Awesome 5 Free" !important;
	font-weight:900;
    top: -3px;
    color: #689844;
    font-size: 1.25rem;
    left: 10px;
    margin: 27px 5px 27px 5px;
}


/* Explain this or QT next to all labels */
label.info, input.info {
	float: left;
	margin-right: .75em;
}
/** Slider **/

a.linkedImage {
	display: block;
	padding: 6px;
}

a.linkedImage:focus {
	margin: 0;
}

a.linkedImage img {
	display: block;
	padding: 6px;
}

a.selectedSicon:focus {
	outline: 3px solid #00659e;
	outline-offset: -3px !important;
}

a.selectedSicon img {
    border: 3px solid #689844;
	padding: 3px;
}





.bx-wrapper {
	width:100% !important;
	max-width: 100% !important;
	box-shadow:none !important;
	border:none !important;
}

div.bxslider div.slide {
    margin: 0 .25rem;

}

.bxslider .grid-row {
    margin: .25rem 0;
}

.bx-wrapper img {
    width: 100% !important;
    padding: .25rem;
}

.bx-viewport {
	padding:10px !important;
}

.bx-wrapper .bx-controls-direction {
position: absolute;
    bottom: -30px;
    width: 100%;
	

	}

.bx-wrapper .bx-controls-direction a {
	text-indent:inherit !important;
	    top: 0 !important;
	width: 20px !important;
    height: 20px !important;
	text-decoration:none;
}

.bx-wrapper .bx-next {
  right: 11% !important; 
}

.bx-wrapper .bx-prev:focus {
     outline: 3px solid #39659b !important;
    outline-offset: 9px !important;
  
	
}

.bx-wrapper .bx-next:focus {
     outline: 3px solid #39659b !important;
    outline-offset: 9px !important;
	
}

.bx-wrapper .bx-next:before {
    content: "\f138" !important;
}

.bx-wrapper .bx-next:before, .bx-wrapper .bx-prev:before {
    position: absolute !important;
       font-family: "Font Awesome 5 Free" !important;
	font-weight:900;
    font-size: 2rem !important;
    color: #666666 !important;
    top: -14px !important;
    left: -4px !important;
    margin-right: 5px !important;
}

.bx-wrapper .bx-prev {
   left: 11% !important; 
}

.bx-wrapper .bx-prev:before {
    content: "\f137" !important;
}

.bx-wrapper .bx-next:prev, .bx-wrapper .bx-prev:before {
    position: absolute !important;
     font-family: "Font Awesome 5 Free" !important;
	font-weight:900;
    font-size: 2rem !important;
    color: #666666 !important;
    top: -14px !important;
    left: -4px !important;
    margin-right: 5px !important;
}

.bx-wrapper .bx-pager.bx-default-pager a:focus {
      outline: 3px solid #39659b !important;
    outline-offset: 2px !important;
   
}

.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #666666 !important;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #ffffff !important;
	border: 1px solid #666666 !important;
}

/*.bx-pager {
	text-align: center;
	position: relative;
	z-index: 9990;
	background: #428752;
	padding: 19px 0;
}
.bx-pager a.active {
	background: url(images/slider-active-arrow.png) no-repeat center top;
}
.bx-pager a {
	padding: 37px 25px;
	display: inline;
} */
/***** Content Elements (Action Result) *****/
.success > div, .notification > div, .information > div, .error > div {
	padding: 24px 36px 24px 72px;
}


.success > div:focus, .notification > div:focus, .information > div:focus, .error > div:focus {
    outline: 1px solid auto;
}

.success, .notification, .information, .error {
	margin: 0 0 24px;
}
.success h2, .notification h2, .information h2, .error h2 {
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	color: #000;
}
.notification ul, .error ul, .information ul, .success ul {
	margin-top: 0;
	padding-left: 15px;
}
.error > div > ul > li > a {
	color: #00659e;
	font-weight: 400;
}
.success {
	background-color:#dae2c7;
	color:#000;
}

.success a {
	color:#496a30;
	font-weight:600;
}
.notification {
	background-color:#f9edcd;
	color:#000;
}

.notification a {
	color:#9a7221;
	font-weight:600;
}

.information {
	background-color:#e1ebef;
	color:#000;
}

/*.information a {
	color:#
	}*/

.error {
	background-color: #f4e4e4;
	color: #cc0033;
}

.error a {
	font-weight:600;
	color: #990026;
}

.success > div, .notification > div, .information > div, .error > div {
	position: relative;
}

.success > div::before, .notification > div::before, .information > div::before, .error > div::before {
	font-family: "Font Awesome 5 Free" !important;
	font-weight:900;
	font-size:2.25rem;
	position:absolute;
	top: 24px;
	left: 24px;
}

.success > div {
	border: 1px solid #689844;	
}

.success > div::before {
	content:"\f058";
	color:#689844;	
}

.notification > div {
	border: 1px solid #c49128;
}

.notification > div::before {
	content:"\f06a";
	color:#c49128;
}

.information > div {
	border: 1px solid #0080b8;
}

.information > div::before {
	content:"\f05a";
	color:#0080b8;
}

.error > div {
	border: 1px solid #edd2d6;
	color: #cc0033;
}

.error > div::before {
	content:"\f057";
	color:#cc0033;
}


/* Table Styles */

table p {
	margin:0;
}
thead {
	background-color: #00659e;
    color: #ffffff;
}

th, tr, td {
	padding:.75rem;
}

tbody tr {
	border-bottom: 1px solid #666666;
}

tr.read {
	background-color:#eeeeee;
}

tr.unread {
	background-color:#ffffff;
}

tr.select {
	
      background-color: #dce8ef !important;
}

td p.expire {
	color:#b95726;
	font-weight:900;
}


/* Breadcrumbs */

.mycal-unstyled-list li {
    display: inline-block;
    font-size: 0.833em;
    line-height: 24px;
    font-weight: normal;
    /* padding: 5px; */
}

.mycal-unstyled-list li:last-child {
    font-weight: bold;
}
.mycal-unstyled-list li::after {
    color: #666;
    padding: 5px;
    line-height: 0.833em;
    font-size: 0.833em;
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    font-weight:900;
}

.mycal-unstyled-list li:last-child::after {
	content: "";
}

div.breadcrumb > a {
	    background: #cce0eb;
    color: #000;
    display: block;
    font-size: 16px;
    margin: 0 0 -10px 0;
    padding: 6px 15px;
    text-decoration: none;
	
}



@media screen and (max-width: 40em) {
	
nav.mycal-breadcrumb	{
	display:none;
	}
	.parent-reverse {

	flex-direction:column-reverse;
}
	
}


#dialog-overlay
   { 
    background-color: #000000 !important;
    opacity: .4;
	   transition: opacity 0.15s linear;}


.ui-widget-header {
	background-color:transparent !important;
	border-bottom: 1px solid #e5e5e5;
}

.ui-widget-content{
	border: 1px solid #e5e5e5;
}
/* Vertical Tabs */


.mycal-tab-nav-toggler {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: 0;
	position: relative;
	display: block;
	padding: 12px 24px !important;
	color: #000;
	background: #eee;
	background-image: none !important;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	line-height: 24px;
	text-shadow: none;
	background-image: none;
	text-align: left;
	text-decoration: none;
	cursor: pointer;
	width: 100%;
	margin-bottom: 2px
}
.mycal-tab-nav-toggler * {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
.mycal-tab-nav-toggler strong {
	display: block;
	font-weight: bold
}
.mycal-tab-nav-toggler small {
	font-size: 12.8px;
	line-height: 24px
}
.mycal-tab-nav-toggler:hover {
	color: #fff;
	background: #00659e
}
.mycal-tab-nav-toggler:focus {
	position: relative;
	outline: 2px solid #666;
	outline-offset: 2px;
	z-index: 1000 !important
}
.mycal-tab-nav-toggler:after {
	position: absolute;
	top: 24px;
	right: 24px;
	content: "\f107";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 16px;
	line-height: 24px;
	color: #000;
	transform: rotate(0);
	transition: transform .2s ease
}
.mycal-tab-nav-toggler:hover:after {
	color: #fff
}
.mycal-tab-nav:target .mycal-tab-nav-toggler, .mycal-tab-nav-toggler[aria-expanded="true"] {
	border: 1px solid #888;
	color: #000 !important;
	background: #fff
}
.mycal-tab-nav:target .mycal-tab-nav-toggler:after, .mycal-tab-nav-toggler[aria-expanded="true"]:after {
	transform: rotate(180deg)
}
.mycal-tab-nav:target .mycal-tab-nav-toggler:hover:after, .mycal-tab-nav-toggler[aria-expanded="true"]:hover:after {
	color: #000 !important
}
.mycal-vertical-tabs {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 24px 0
}
.mycal-vertical-tabs * {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
.mycal-vertical-tabs .mycal-vertical-tabs__nav {
	display: none
}
.mycal-vertical-tabs .mycal-vertical-tabs__nav .mycal-vertical-tabs__nav-item {
	list-style: none;
	margin: 2px 0 0
}
.mycal-vertical-tabs .mycal-vertical-tabs__nav .mycal-vertical-tabs__nav-item:first-child {
	margin-top: 0
}
.mycal-vertical-tabs .mycal-vertical-tabs__nav .mycal-vertical-tabs__nav-item .mycal-vertical-tabs__link {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: 0;
	position: relative;
	display: block;
	padding: 12px 24px !important;
	color: #000;
	background: #eee;
	background-image: none !important;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	line-height: 24px;
	text-shadow: none;
	background-image: none;
	text-align: left;
	text-decoration: none;
	cursor: pointer
}
.mycal-vertical-tabs .mycal-vertical-tabs__nav .mycal-vertical-tabs__nav-item .mycal-vertical-tabs__link strong {
	display: block;
	font-weight: bold
}
.mycal-vertical-tabs .mycal-vertical-tabs__nav .mycal-vertical-tabs__nav-item .mycal-vertical-tabs__link small {
	font-size: 12.8px;
	line-height: 24px
}
.mycal-vertical-tabs .mycal-vertical-tabs__nav .mycal-vertical-tabs__nav-item .mycal-vertical-tabs__link:hover {
	color: #fff;
	background: #00659e
}
.mycal-vertical-tabs .mycal-vertical-tabs__nav .mycal-vertical-tabs__nav-item .mycal-vertical-tabs__link:focus {
	position: relative;
	outline: 2px solid #666;
	outline-offset: 2px;
	z-index: 1000 !important
}
.mycal-vertical-tabs .mycal-vertical-tabs__nav .mycal-vertical-tabs__nav-item.mycal-is-active .mycal-vertical-tabs__link {
	color: #fff;
	background: #00659e
}
.mycal-vertical-tabs .mycal-tab-nav:target .mycal-vertical-tabs__nav, .mycal-vertical-tabs .open .mycal-vertical-tabs__nav {
	display: block
}

.mycal-vertical-tabs__nav-item.mycal-is-active {

	display:none;
}

@media screen and (min-width: 600px) {
	.mycal-vertical-tabs {
		padding-left: 33.333333%;
		width: 100%
	}
	.mycal-vertical-tabs .mycal-tab-nav-toggler {
		display: none
	}
	.mycal-vertical-tabs .mycal-vertical-tabs__nav {
		display: block;
		float: left;
		width: 50%;
		margin-left: -50%
	}

.mycal-vertical-tabs__nav-item.mycal-is-active {

	display:block;
}

	.mycal-vertical-tabs .mycal-vertical-tabs__nav .mycal-vertical-tabs__nav-item {
		margin-bottom: 2px
	}
	.mycal-vertical-tabs .mycal-vertical-tabs__nav .mycal-vertical-tabs__nav-item.mycal-is-active .mycal-vertical-tabs__link {
		border: 1px solid #888;
		border-right: 0;
		position: relative;
		margin-right: -1px;
		padding-left: 24px -1;
		padding-right: 26px;
		color: #000;
		background: #fff
	}
	.mycal-vertical-tabs .mycal-vertical-tabs__nav .mycal-vertical-tabs__nav-item.mycal-is-active .mycal-vertical-tabs__link:hover {
		color: #000;
		background: #fff
	}
	.mycal-vertical-tabs .mycal-vertical-tabs__content {
		border: 1px solid #888
	}
}
@media screen and (min-width: 960px) {
	.mycal-vertical-tabs {
		padding-left: 25%
	}
	.mycal-vertical-tabs .mycal-vertical-tabs__nav {
		width: 33.333333%;
		margin-left: -33.333333%
	}
}

/*.mycal-vertical-tabs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	border: 1px solid #dddbda;
	border-radius: .25rem
}
.mycal-vertical-tabs__nav {
	 width: 33.33333%; 
	 border-right: 1px solid #bababa;
	 background: #f5f5f5;
	 padding-inline-start: 0;
	 margin-block-end: 0;
}
.mycal-vertical-tabs__nav-item {
	 display: -webkit-box; 
	display: -ms-flexbox;
	 display: flex;
	 -webkit-box-align: center; 
	-ms-flex-align: center;
 align-items: center;
	overflow: hidden;
	border-bottom: 1px solid #bababa;
	color: #00659e;
	font-weight:600;
}
.mycal-vertical-tabs__nav-item:last-child {
	margin-bottom: -1px
}
.mycal-vertical-tabs__link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 0%;
	flex: 1 1 0%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-width: 0;
	padding: 1.25rem;
	color: currentColor;
	text-decoration:none;
}
.mycal-vertical-tabs__link:hover {
	background: #dddbda;
	color: #080707;
	text-decoration: none
}
.mycal-vertical-tabs__link:focus {
	outline: 0
}
.mycal-vertical-tabs__left-icon {
	margin-right: .5rem
}
.mycal-vertical-tabs__left-icon:empty {
	margin-right: 0
}
.mycal-vertical-tabs__right-icon {
	margin-left: auto
}
.mycal-vertical-tabs__content {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 1.5rem;
	background: #fff;
	padding: 48px;
}
.mycal-vertical-tabs__nav-item.mycal-is-active {
	margin-right: -1px;
	border-right: 0;
	background: #fff;
	color: #000000;
	font-weight:600;
}
.mycal-vertical-tabs__nav-item.mycal-is-active .mycal-vertical-tabs__link:hover {
	background: #fff;
	color: currentColor
}
.mycal-vertical-tabs__nav-item.mycal-has-focus {
	text-decoration: underline
}	*/
	
@media print {
	.mycal-no-print {
		display: none
	}
}
.mycal-collapsed {
	height: 0;
	overflow: hidden
}
.mycal-expanded {
	height: auto;
	overflow: visible
}
.mycal-assistive-text {
	position: absolute !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;
	width: 1px !important;
	height: 1px !important;
	overflow: hidden !important;
	clip: rect(0 0 0 0) !important;
	text-transform: none !important;
	white-space: nowrap !important
}
.mycal-assistive-text_focus:focus, .mycal-assistive-text--focus:focus {
	margin: inherit !important;
	border: inherit !important;
	padding: inherit !important;
	width: auto !important;
	height: auto !important;
	overflow: visible !important;
	clip: auto !important
}
.mycal-is-collapsed {
	height: 0;
	overflow: hidden
}
.mycal-is-expanded {
	height: auto;
	overflow: visible
}
.mycal-hidden {
	visibility: hidden !important
}
.mycal-visible {
	visibility: visible
}
.mycal-hide {
	display: none !important
}
.mycal-show {
	display: block
}
.mycal-show_inline-block, .mycal-show--inline-block {
	display: inline-block
}
.mycal-show_inline, .mycal-show--inline {
	display: inline
}
.mycal-transition-hide {
	opacity: 0
}
.mycal-transition-show {
	opacity: 1
}
.mycal-x-small-show {
	display: none
}
@media (min-width: 320px) {
	.mycal-x-small-show {
		display: block
	}
	.mycal-x-small-show_inline-block, .mycal-x-small-show--inline-block {
		display: inline-block
	}
	.mycal-x-small-show_inline, .mycal-x-small-show--inline {
		display: inline
	}
}
.mycal-x-small-show-only {
	display: none
}
@media (min-width: 320px) and (max-width: 479px) {
	.mycal-x-small-show-only {
		display: block
	}
	.mycal-x-small-show-only_inline-block, .mycal-x-small-show-only--inline-block {
		display: inline-block
	}
	.mycal-x-small-show-only_inline, .mycal-x-small-show-only--inline {
		display: inline
	}
}
@media (max-width: 479px) {
	.mycal-max-x-small-hide {
		display: none
	}
}
.mycal-small-show {
	display: none
}
@media (min-width: 480px) {
	.mycal-small-show {
		display: block
	}
	.mycal-small-show_inline-block, .mycal-small-show--inline-block {
		display: inline-block
	}
	.mycal-small-show_inline, .mycal-small-show--inline {
		display: inline
	}
}
.mycal-small-show-only {
	display: none
}
@media (min-width: 480px) and (max-width: 767px) {
	.mycal-small-show-only {
		display: block
	}
	.mycal-small-show-only_inline-block, .mycal-small-show-only--inline-block {
		display: inline-block
	}
	.mycal-small-show-only_inline, .mycal-small-show-only--inline {
		display: inline
	}
}
@media (max-width: 767px) {
	.mycal-max-small-hide {
		display: none
	}
}
.mycal-medium-show {
	display: none
}
@media (min-width: 768px) {
	.mycal-medium-show {
		display: block
	}
	.mycal-medium-show_inline-block, .mycal-medium-show--inline-block {
		display: inline-block
	}
	.mycal-medium-show_inline, .mycal-medium-show--inline {
		display: inline
	}
}
.mycal-medium-show-only {
	display: none
}
@media (min-width: 768px) and (max-width: 1023px) {
	.mycal-medium-show-only {
		display: block
	}
	.mycal-medium-show-only_inline-block, .mycal-medium-show-only--inline-block {
		display: inline-block
	}
	.mycal-medium-show-only_inline, .mycal-medium-show-only--inline {
		display: inline
	}
}
@media (max-width: 1023px) {
	.mycal-max-medium-hide {
		display: none
	}
}
.mycal-large-show {
	display: none
}
@media (min-width: 1024px) {
	.mycal-large-show {
		display: block
	}
	.mycal-large-show_inline-block, .mycal-large-show--inline-block {
		display: inline-block
	}
	.mycal-large-show_inline, .mycal-large-show--inline {
		display: inline
	}
}
@media (min-width: 320px) {
	.mycal-hide_x-small, .mycal-hide--x-small {
		display: none !important
	}
}
@media (max-width: 319px) {
	.mycal-show_x-small, .mycal-show--x-small {
		display: none !important
	}
}
@media (min-width: 480px) {
	.mycal-hide_small, .mycal-hide--small {
		display: none !important
	}
}
@media (max-width: 479px) {
	.mycal-show_small, .mycal-show--small {
		display: none !important
	}
}
@media (min-width: 768px) {
	.mycal-hide_medium, .mycal-hide--medium {
		display: none !important
	}
}
@media (max-width: 767px) {
	.mycal-show_medium, .mycal-show--medium {
		display: none !important
	}
}
@media (min-width: 1024px) {
	.mycal-hide_large, .mycal-hide--large {
		display: none !important
	}
}
@media (max-width: 1023px) {
	.mycal-show_large, .mycal-show--large {
		display: none !important
	}
}
@media (min-width: 1280px) {
	.mycal-hide_x-large, .mycal-hide--x-large {
		display: none !important
	}
}
@media (max-width: 1279px) {
	.mycal-show_x-large, .mycal-show--x-large {
		display: none !important
	}
}


@media screen and (max-width: 750px) {
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
  	color: #444444 !important;
  	display: inline;
  	float: left;
  	padding: 0px !important;
  	padding-left: 5px!important;
  	border:none;
  }
  
}

