@charset "utf-8";
hr {
	margin-top: .2em;
}
.mycal-alert {
	margin-bottom: 20px;
}
.mycal-alert-body h3, .mycal-alert-body p {
	color: #000000;
}
.mycal-alert-heading {
	font-weight: 700;
}

  a.mask { position: relative;
    top: 0.75rem;
}

/* Body */

body {
	font-family: 'Open Sans', arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	color: #000000;
}
p {
	margin: 0 0 12.5px;
}
label, .label {
	font-size: 1rem;
	font-weight: 600;
	color: #000000;
}
.helper-text {
	font-size: 0.875rem;
	font-weight: 400;
	color: #333333;
	margin: 0;
}
.disclaimer-text {
	font-size: 0.875rem;
	font-weight: 400;
	color: #000000;
	margin: 5px 0 5px 0;
}
span.required {
	font-size: 0.875rem;
	color: #cc0033;
}
/* Headings */


.fa-info-circle {
	
	font-size: 1.25rem;
    color: #00659e;
}

.typography p {
	margin-top: 0px;
	font-size: 0.875rem;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', arial, sans-serif;
	line-height: 1.1;
	color: #666666;
	margin: 30px 0 15px 0;
}
h1 {
	font-size: 2.5rem;
	font-weight: 500;
}
h2 {
	font-size: 2.125rem;
	font-weight: 300;
}
h3 {
	font-size: 1.875rem;
	font-weight: 300;
}
h4, .h4 {
	font-size: 1.625rem;
	font-weight: 300;
}
h5 {
	font-size: 1.375rem;
	font-weight: 300;
}
h6 {
	font-size: 1.125rem;
	font-weight: 300;
}
.sidebar h2 {
	font-size: 1.1875rem;
	margin: 5px 0 15px 0;
}
.sidebar p {
	line-height: 1.4;
	padding: 5px 0 5px 0;
	text-align: left;
	font-size: 1rem;
}

.sidebar {
    padding: .8375rem;
    border: 1px solid #00659e;
    margin-bottom: 1.25rem;
}

/* Links */

a {
	color: #00659e;
	text-decoration: underline;
	cursor: pointer;
}
a:hover, a.hover {
	color: #003c5e;
	text-decoration: underline;
}
a:focus, a.focus {
	outline: solid;
	outline: 3px solid #39659b;
	outline-offset: 4px;
	border-radius: 0;
	margin: 5px;
}


.mycal-prose>a:focus {
    outline-offset: 4px;
}

a:visited, a.visited {
	color: #715192;
}
a.primary-nav-link {
	color: #000000;
	text-decoration: underline;
	font-size: 1.125rem;
	line-height: 25px;
	padding: 10px 15px;
	font-weight: 400;
}
a.primary-nav-link.active {
	font-weight: 600;
}
a.primary-nav-link:hover, a.primary-nav-link.hover {
	color: #00659e;
}
a.primary-nav-link:focus, a.primary-nav-link.focus {
	outline: solid;
	outline: 3px solid #00659e;
	outline-offset: 4px;
	border-radius: 0;
	margin: 5px;
}
a.secondary-nav-link {
	color: #000000;
	text-decoration: underline;
	font-size: 1rem;
	line-height: 16px;
	padding: 10px 12px;
 font-weight: 400;
}
a.secondary-nav-link.active {
	font-weight: 600;
}
a.secondary-nav-link:hover, a.secondary-nav-link.hover {
	color: #000000;
}
a.secondary-nav-link:focus, a.secondary-nav-link.focus {
	outline: solid;
	outline: 3px solid #00659e;
	outline-offset: 4px;
	border-radius: 0;
	margin: 5px;
}
.mycal-external_link:after {
	background: url(http://lgdimcip1:20410/mss/img/external-link.svg) no-repeat 0 0;
	background-size: 100%;
}
.mycal-external_link:hover:after {
	background: url(http://lgdimcip1:20410/mss/img/external-link-hover.svg) no-repeat 0 0;
	background-size: 100%;
}
.mycal-footer-primary-section .mycal-footer-primary-link:focus, a.mycal-footer-primary-link.focus {
	outline-color: #fff;
	outline-offset: -5px;
}
.mycal-footer-primary-link.mycal-external_link:after {
	background: url(http://lgdimcip1:20410/mss/img/external-link-white.png) no-repeat 0 0;
	background-size: 100%;
}
.mycal-footer-primary-link.mycal-external_link:hover:after {
	background: url(http://lgdimcip1:20410/mss/img/external-link-white.png) no-repeat 0 0;
	background-size: 100%;
}
.mycal-footer-primary-section .mycal-footer-primary-link {
	margin: 0 10px;
	text-decoration: underline;
}
a.tooltip {
	border-bottom: 1px dashed;
	cursor: help;
	font-weight: normal;
	font-size: 85%;
	margin-top: -3px;
	margin-left: 15px;
	text-decoration: none;
}

/* Popovers */

		a.quicktip /*.tooltip*/ {
	border-bottom: 1px dashed;
	cursor: help;
	font-weight: normal;
	font-size: 85%;
	margin-top: -3px;
	margin-left: 15px;
	text-decoration: none;
}
	.link-anchor {
  position: relative;
  width: 0;
  font-size: .8em;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}
.anchor-wrapper {
  border: none;
}
.anchor-wrapper:hover .link-anchor {
  opacity: 1;
}

section h1[id]:focus,
section h2[id]:focus,
section h3[id]:focus,
section h4[id]:focus,
section h5[id]:focus {
  outline: 0;
}


.popper,
.tooltip {
    position: absolute;
    background: #ffffff;
    color: black;
    max-width: 300px;
    border-radius: 3px;
    border:1px solid #666666;
    padding: 10px;
    text-align: center;
	font-size:0.875rem;
}
.style5 .tooltip {
    background: #1E252B;
    color: #FFFFFF;
    max-width: 200px;
    width: auto;
    font-size: .8rem;
    padding: .5em 1em;
}
.popper .popper__arrow,
.tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
}

.tooltip .tooltip-arrow,
.popper .popper__arrow {
    border-color: #666666;
}
.style5 .tooltip .tooltip-arrow {
    border-color: #666666;
}
.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
    margin-bottom: 5px;
}
		
		
.tooltip[x-placement^="top"] .tooltip-arrow::before, .tooltip-arrow::before {
    border-width: 5px 5px 0 5px;
    border-left-color: #ffffff;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    bottom: -5px;
    left: calc(50% 5px);
    margin-top: 0;
    margin-bottom: 0;
    border-color: #ffffff;
    position: absolute;
    border-style: solid;
    z-index: 999999;
}		
		
		
.popper[x-placement^="top"] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}
.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
    margin-top: 5px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}
.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
    margin-left: 5px;
}
.popper[x-placement^="right"] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}
.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
    margin-right: 5px;
}
.popper[x-placement^="left"] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}



/* Numbers */

.big-number {
	font-size: 1.6875rem;
	font-weight: 600;
	color: #666666;
}
.small-number {
	font-size: 1.375rem;
	font-weight: 500;
	color: #666666;
}
/* Buttons */

.button {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 500;
	text-align: center;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.6;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-right: .5rem;
	width: inherit;
}

.button.large {
	width:100%;
}
.mycal-button, .mycal-button.active {
	color: #ffffff;
	background-color: #b95726;
	border-color: #a44d22;
}
.mycal-button:hover, .mycal-button-hover {
	color: #ffffff;
	background-color: #8f431d;
	border-color: #713517;
	text-decoration: none;
}
.mycal-button:focus, .mycal-button-focus {
	color: #a3582d;
	background-color: #fff;
	border-color: #a3582d;
	outline-color: #a3582d;
	outline-offset: -3px;
	outline-style: solid;
	outline-width: 3px;
}
/*.mycal-button-secondary, .mycal-button-secondary.active {
	color: #23518b;
	background-color: #cce0eb;
	border-color: #9fc3d7;
}
.mycal-button-secondary:hover, .mycal-button-secondary-hover {
	color: #103d77;
	background-color: #96bacf;
	border-color: #78aac6;
}
.mycal-button-secondary:focus, .mycal-button-secondary-focus {
	color: #23518b;
	background-color: #cce0eb;
	border-color: #9fc3d7;
	outline-color: #a3582d;
	outline-offset: -3px;
	outline-style: solid;
	outline-width: 3px;
}*/
.mycal-button-secondary, .mycal-button-secondary.active {
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
}
.mycal-button-secondary:hover, .mycal-button-sedcondary-hover {
	color: #333333;
	background-color: #e6e6e6;
	border-color: #adadad;
}
.mycal-button-secondary:focus, .mycal-button-secondary-focus {
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
	outline-color: #a3582d;
	outline-offset: -3px;
	outline-style: solid;
	outline-width: 3px;
}
.disabled {
	opacity: .5;
}
/*Color Boxes*/

.colors p {
	margin-top: 0px;
	font-size: 0.875rem;
}
.color-box {
	display: block;
	margin-right: 2.35765%;
	width: 80%;
	margin-bottom: 0;
	padding-top: 65%;
}
.color-box-small {
	display: block;
	margin-right: 2.35765%;
	width: 80%;
	margin-bottom: 0;
	padding-bottom: 50%;
}
.calpers-blue {
	background-color: #00659e;
}
.calpers-grey {
	background-color: #88898d;
}
.navbar-blue {
	background-color: #cce0eb;
}
.calpers-grey-hover {
	background-color: #e2e2e2;
}
.dynamic-blue {
	background-color: #0080b8;
}
.dynamic-blue-hover {
	background-color: #e1ebef;
}
.dark-grey {
	background-color: #666666;
}
.sunspark-gold {
	background-color: #f4b125;
}
.white {
	background-color: #ffffff;
	border: 1px solid #000000;
}
.spark-orange {
	background-color: #b95726;
}
.purple {
	background-color: #715192;
}
.gray-darker {
	background-color: #222222;
}
.gray-dark {
	background-color: #333333;
}
.gray {
	background-color: #555555;
}
.gray-light {
	background-color: #777777;
}
.gray-lighter {
	background-color: #eeeeee;
}
.green {
	background-color: #689844;
}
.green-hover {
	background-color: #dae2c7;
}
.yellow {
	background-color: #c49128;
}
.yellow-hover {
	background-color: #f9edcd;
}
.red {
	background-color: #cc0033;
}
.red-hover {
	background-color: #f4e4e4;
}
/* Header and Navigation Styles */


div.mycal-logo img {
    width: 210px;
}


.mycal-header-extended.logout .mycal-logo {
	    padding: .5rem 0;
}

.mycal-navbar {
	background-color: #00659e;
	border: none !important;
	
    height: inherit;

}
.mycal-nav {
	background-color: #cce0eb;
	border-bottom: #cce0eb;
}
.mycal-nav.is-visible {
	background-color: #00659e;
}
.mycal-nav .mycal-nav-primary {
	background-color: #cce0eb;
}
.mycal-nav .mycal-nav-link, .mycal-nav .mycal-nav-primary > li > a {
	color: #000000;
}


.mycal-nav-secondary {
	color: #ffffff;
}
.mycal-nav-secondary-links a {
	color: #ffffff;
}
.mycal-nav-secondary-links li.mycal-nav-secondary-item button.mycal-nav-link > span {
color:#ffffff;	
	
}

.mycal-nav-secondary-links a:hover {
	color: #ffffff;
}
.mycal-nav .mycal-nav-link.mycal-current {
	font-weight: 600;
	background-color: #ffffff;
}
.mycal-nav .mycal-nav-link.mycal-current + ul.mycal-nav-submenu {
	background-color: #ffffff;
}
.mycal-nav .mycal-nav-link.mycal-current:hover {
	text-decoration: none;
	background-color: #ffffff;
}

@media screen and (min-width: 64em) {
.mycal-header-extended .mycal-current:after, .mycal-header-extended .mycal-accordion-button.mycal-nav-link::after, .mycal-header-extended [aria-expanded=true]:after {
    bottom: 0;
    height: .25rem;
    font-family: "FontAwesome";
    content: "\f107";
    color: #000000;
	display:contents;
}
	
	
.mycal-nav-primary button[aria-expanded=false] {
        background-image: none;
         background-image: none;
         background-image: none;
       
    }
    .mycal-nav-primary button[aria-expanded=false]:focus, .mycal-nav-primary .mycal-accordion-button.mycal-current{
        background-image: none; background-image: none; background-image: none;
      
    }
    .mycal-nav-primary button[aria-expanded=false]:hover {
         background-image: none; background-image: none; background-image: none;
        background-repeat: no-repeat
    }
    .mycal-nav-primary button[aria-expanded=true] {
      background-image: none; background-image: none; background-image: none;
        background-position: right 1rem top 53%;
        background-repeat: no-repeat;
        background-size: .5rem;
        color: #fff
    }	
	
	.mycal-nav-secondary-links .mycal-nav-secondary-item:last-child:after {
    content: "";
}
	
.messages {
    font-size: 1.5rem;
    color: #ffffff;
    margin: 0.55rem;
}	
.messages::after {
    content: "1";
    position: absolute;
    background: #F4B125;
    height: 1rem;
    top: -.25rem;
    right: -0.5rem;
    width: 1rem;
    text-align: center;
    line-height: 1rem;
    font-size: .75rem;
    border-radius: 50%;
    color: #000;
    border: #F4B125;
    font-family: "Open Sans", arial, sans-serif;
    font-weight: 600;
}	
	
.mycal-nav-secondary-item > a > i.fa-envelope {
    font-size: 1.5rem;
    margin: 0.55rem;
    color: #ffffff;
}	
	
}


/* TEST LOG OUT HEADER */

@media screen and (min-width:64em) {
.mycal-header-extended.logout .mycal-navbar {
	max-width: 160rem;
	border: none !important;
}
.mycal-nav-submenu {
	border: none;
	background-color: #ffffff;
	min-height: 35px;
	list-style-type: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 1rem;
	position: absolute;
	width: 15rem;
	z-index: 400;
	border: 1px solid #000000;
	border-top: 0;
}

	li.mycal-nav-secondary-item button.mycal-nav-link {
    background-color: transparent;
    border: none;
}
	
.mycal-header-extended.logout .mycal-logo {
	font-size: 2.12941rem;
	margin: 0 !important;
	max-width: 100%;
	    padding: .5rem 0;
}
.mycal-header-extended .mycal-nav-inner {
	max-width: 160rem;
}
.mycal-nav-submenu > li > a {
	font-size: 1rem;
	text-decoration: underline;
	line-height: 1em !important;
	font-weight: 400;
	padding-left: 2rem;
	color: #00659e !important;
	margin: 0;
}
.mycal-nav-submenu > li > a:hover {
	color: #003c5e !important;
}
	
.mycal-nav-secondary-links .mycal-nav-secondary-item:after {
    color: #ffffff;
    content: "|";
    padding-right: .25rem;
}
	
	.mycal-nav-secondary-links .mycal-nav-secondary-item+.mycal-nav-secondary-item:last-child:after {
    content: "";
    padding: 0;
}
	
	
}

@media screen and (max-width: 63.99em) {
.mycal-logo {
	text-align: center;
}
.mycal-nav{
	padding:0;
}
	
	ul.mycal-nav-secondary-links > li.mycal-nav-secondary-item:first-child {
    background-color: #ffffff;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: .75rem 0;
}
	
.mycal-nav .mycal-nav-primary > li {
    border-top: 1px solid #000000;
    padding: 0;
  
}
	.mycal-nav-secondary-links li.mycal-nav-secondary-item button.mycal-nav-link > span {
		color:#000000;
	}
	.mycal-nav .mycal-nav-primary > li:first-child {
    /*border-left: 1px solid #000000;*/
}
	
	.mycal-nav .mycal-nav-primary > li:last-child {
    border-bottom: 1px solid #000000;
}

	
.mycal-nav-primary .mycal-current:after {
    /*DELETE FROM USWDS*/
	display:none;
}	
	
.mycal-nav .mycal-nav-link:hover, .mycal-nav .mycal-accordion-button.mycal-nav-link:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
}	
	
	.mycal-nav-submenu-item {
    border:none;
    font-size: 1rem;
}
	
	
.mycal-nav-primary button[aria-expanded=false]::after {

    font-family: "FontAwesome";
    content: "\f107";
    color: #000000;
    float: right;
    font-size: 1.5rem;
}
	
button[aria-expanded=true].mycal-accordion-button.mycal-nav-link.mycal-current span::after {
    font-family: "FontAwesome";
    content: "\f077";
    color: #000000;
    float: right;
    margin-top: -.25rem;
}
	
	
li.mycal-nav-primary-item > button.mycal-accordion-button.mycal-nav-link[aria-expanded=true] ~ ul.mycal-nav-submenu {
    background-color: #ffffff;
}	

	.mycal-nav .mycal-nav-primary button[aria-expanded=true], .mycal-nav .mycal-nav-primary-item .mycal-nav-link[aria-expanded=true]{
		
	 font-family: "FontAwesome";
    content: "\f077";
    color: #000000;
    float: right;
    margin-top: -.25rem;	
	}
	
.mycal-nav .mycal-nav-primary button[aria-expanded=true], .mycal-nav .mycal-nav-primary-item .mycal-nav-link[aria-expanded=true] {

    border-top: 1px solid #000000;
}	
	
	.mycal-nav-secondary {
    color: #000000;
}
.mycal-nav-secondary-links a {
    color: #000000;
}	
	
.mycal-nav .mycal-nav-link.mycal-current {
    text-decoration: none;

}
	
	
	button.mycal-nav-link {
		background:transparent;
		border:none;
		font-size:18px;
	}	
	
}	
	
	
	
	
.mycal-menu-btn {
	background-color: #cce0eb !important;
	color: #333333 !important;
}
.mycal-menu-btn::before {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f0c9";
    margin: .5rem;
}

.mycal-nav-close::before {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f00d";
    margin: 0 .5rem;
    float: left;
}


.mycal-nav-close {
    -ms-flex: none;
    -webkit-box-flex: 0;
    -webkit-font-smoothing: auto;
    border: 0;
    border-radius: 0;
    color: currentColor;
    flex: none;
    float: right;
    font-weight: 400;
    height:auto;
    margin:	1rem;
    padding: 0;
    text-align: left;
    text-align: center;
    width:auto;
}

.mycal-nav.is-visible {
    background-color: #cce0eb;
}


/* Footer */

.mycal-footer-nav * {
	text-transform: uppercase;
	font-size: 0.875rem;
    max-width: 75rem;
}

.mycal-footer-nav li.grid-col-auto {
	list-style-type: none;
}


.mycal-footer-nav li.grid-col-auto::before {
    font-family: "FontAwesome";
    content: "\007C";
    color: #ffffff;
    position: absolute;
    top: 20%;
    font-size: 1rem;
}

.mycal-footer-nav li.grid-col-auto:first-child:before  {
    content: "";
}


li.mycal-footer-primary-content {
	line-height: 0;
	padding: 5px 0;
}
li.mycal-footer-primary-content:before {
	font-family: "FontAwesome";
	content: "\007C";
	color: #ffffff;
}
li.mycal-footer-primary-content:first-child:before {
	content: "";
}
span.mycal-footer-primary-copyright {
	color: #ffffff;
	display: block;
	padding: .5rem;
	margin: 0 10px;
}



@media screen and (max-width:70em) {
	
.mycal-footer-nav ul.flex-wrap.grid-row	{
	display:block;
	    padding-left: 0;
	
	}
	
.mycal-footer-nav li.grid-col-auto::before {
    content: "";
}	
	
}


/* Form Styles */

input[type=checkbox], input[type=radio] {
    margin: .5rem;
}

.mycal-radio-label:before {
    border-radius: 99rem;
    height: 1rem;
    width: 1rem;
}
.mycal-radio-input:checked+.mycal-radio-label:before {
   
    box-shadow: 0 0 0 2px #666666, inset 0 0 0 2px #fff;
}

.mycal-checkbox-input:checked+.mycal-checkbox-label:before, .mycal-radio-input:checked+.mycal-radio-label:before {
   
    background-color: #666666;

}
.mycal-checkbox-label:before, .mycal-radio-label:before {

    box-shadow: 0 0 0 2px #666666;
    line-height: 1rem;
    margin-right: .75rem;
}

.mycal-input.mycal-input-success,
.mycal-range.mycal-input-success,
.mycal-select.mycal-input-success,
.mycal-textarea.mycal-input-success {
    border: .25rem solid #689844;
}


.mycal-focus, select:focus, button:focus, input[type='button']:focus, input[type='submit']:focus, input[type='radio']:focus, input[type='checkbox']:focus, input[type='textarea']:focus, input[type='text']:focus, input[type='password']:focus, a:focus, .dialog:focus {
    outline-offset: 4px;
}

/* Progress Bar */

.progress-steps p {
	text-align: center;
	font-size: 14px;
	color: #555;
}
.progress-steps .steps-count {
	font-weight: bold;
	color: #666666;
	text-transform: uppercase;
	letter-spacing: .25px;
	margin-bottom: .5em;
}
.progress-steps ol.steps {
	background-color: transparent;
	padding: 0;
	text-align: center;
	margin-bottom: .3em;
}
.progress-steps dl, .progress-steps ol, .progress-steps ul {
	margin-top: 0;
	margin-bottom: 1rem;
}
.progress-steps ol.steps li {
	display: inline-block;
	position: relative;
	float: none;
	margin: .4em 40px .4em 0;
}
.progress-steps ol.steps li.completed:after {
	background: #689844;
}
.progress-steps ol.steps li:after {
	position: absolute;
	content: '';
	height: 5px;
	background: #e2e2e2;
	margin: 0;
	left: 50%;
	width: calc(100% + 40px);
	bottom: -9px;
}
.progress-steps ol.steps li:before {
	content: '';
	position: absolute;
	z-index: 1;
	left: 50%;
	right: auto;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background-color: #e2e2e2;
}
.progress-steps ol.steps li.completed:before {
	background: #689844;
}
.progress-steps ol.steps li {
	display: inline-block;
	position: relative;
	float: none;
	margin: .4em 40px .4em 0;
}
.progress-steps {
	margin: 0 auto;
	text-align: center;
	margin-bottom: 1em;
}
.progress-steps ol.steps li:last-child {
	margin: .4em 0;
}
.progress-steps ol.steps li:last-child:after {
	display: none;
}
.progress-steps ol.steps li.active:before {
	background: #689844;
}
span.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	white-space: nowrap;
	border: 0;
}




/** Changes **/
.grid-row {
	margin: 1rem 0;
}
.no-close .ui-dialog-titlebar-close {
	display: none;
}
#bprBanner {
	background: #ff0;
	font-weight: bold;
	padding: 2px;
	text-align: center;
	font-size: .80em;
	border: 1px solid #444
}
/** Error class add error icon **/
 /* div.fieldErrorMessage::before {
background: url(../../images/ept/result_error_field_icon.png) no-repeat 0px 3px; }*/

.fieldErrorMessage {
	font-size: 0.875rem;
	font-weight: 600;
	color: #cc0033;
}

div.fieldErrorMessage::before {
    content: "\f057";
    font-family: 'FontAwesome' !important;
    top: -3px;
    color: #cc0033;
    font-size: 1.25rem;
    left: 10px;
    margin: 27px 5px 27px 5px;
}

.inlineValid {
	font-size: 0.875rem;
	font-weight:600;
	color: #689844;
}

div.inlineValid::before {
    content: "\f058";
    font-family: 'FontAwesome' !important;
    top: -3px;
    color: #689844;
    font-size: 1.25rem;
    left: 10px;
    margin: 27px 5px 27px 5px;
}


/* Explain this or QT next to all labels */
label.info, input.info {
	float: left;
	margin-right: .75em;
}
/** Slider **/

a.linkedImage {
	display:inline-block;
}

a.selectedSicon {

    border: 5px solid #689844;
}

.bx-wrapper {
	width:100% !important;
	max-width: 100% !important;
	box-shadow:none !important;
	border:none !important;
}

div.bxslider div.slide {
    margin: 0 .25rem;

}

.bxslider .grid-row {
    margin: .25rem 0;
}

.bx-wrapper img {
    width: 100% !important;
    padding: .25rem;
}

.bx-viewport {
	padding:10px !important;
}

.bx-wrapper .bx-controls-direction {
position: absolute;
    bottom: -30px;
    width: 100%;
	
	}

.bx-wrapper .bx-controls-direction a {
	text-indent:inherit !important;
	    top: 0 !important;
	width: 20px !important;
    height: 20px !important;
	text-decoration:none;
}

.bx-wrapper .bx-next {
  right: 11% !important; 
}

.bx-wrapper .bx-prev:focus {
     outline: 3px solid #39659b !important;
    outline-offset: 9px !important;
  
	
}

.bx-wrapper .bx-next:focus {
     outline: 3px solid #39659b !important;
    outline-offset: 9px !important;
	
}

.bx-wrapper .bx-next:before {
    content: "\f138" !important;
}

.bx-wrapper .bx-next:before, .bx-wrapper .bx-prev:before {
    position: absolute !important;
    font-family: 'FontAwesome' !important;
    font-size: 2rem !important;
    color: #666666 !important;
    top: -14px !important;
    left: -4px !important;
    margin-right: 5px !important;
}

.bx-wrapper .bx-prev {
   left: 11% !important; 
}

.bx-wrapper .bx-prev:before {
    content: "\f137" !important;
}

.bx-wrapper .bx-next:prev, .bx-wrapper .bx-prev:before {
    position: absolute !important;
    font-family: 'FontAwesome' !important;
    font-size: 2rem !important;
    color: #666666 !important;
    top: -14px !important;
    left: -4px !important;
    margin-right: 5px !important;
}

.bx-wrapper .bx-pager.bx-default-pager a:focus {
      outline: 3px solid #39659b !important;
    outline-offset: 2px !important;
   
}

.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #666666 !important;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #ffffff !important;
	border: 1px solid #666666 !important;
}

/*.bx-pager {
	text-align: center;
	position: relative;
	z-index: 9990;
	background: #428752;
	padding: 19px 0;
}
.bx-pager a.active {
	background: url(images/slider-active-arrow.png) no-repeat center top;
}
.bx-pager a {
	padding: 37px 25px;
	display: inline;
} */
/***** Content Elements (Action Result) *****/
.success > div, .notification > div, .information > div, .error > div {
	padding: 20px 20px 15px 65px;
}
.success, .notification, .information, .error {
	margin: 0 10px 10px 10px;
}
.success h2, .notification h2, .information h2, .error h2 {
	font-size: 15px;
	color: #000;
}
.notification ul, .error ul, .information ul, .success ul {
	margin-top: 0;
	padding-left: 15px;
}
.error > div > ul > li > a {
	color: #00659e;
	font-weight: 400;
}
.success {
	background-color:#dae2c7;
	border-color:#d5d9b6;
	color:#000000;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

.success a {
	color:#496a30;
	font-weight:600;
}
.notification {
	background-color:#f9edcd;
	border-color:#f6dab6;
	color:#000000;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

.notification a {
	color:#9a7221;
	font-weight:600;
	
}


.information {
	background-color:#e1ebef;
	border-color:#0080b8;
	color:#000000;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

/*.information a {
	color:#
	}*/

.error {
	background-color: #f4e4e4;
	border-color: #edd2d6;
	color: #cc0033;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

.error a {
	
	font-weight:600;
	color: #990026;
}

.success > div {
	border: 1px solid #689844;
	position: relative;
}

.success > div::before {
	content:"\f058";
	color:#689844;
	font-family:"FontAwesome" !important;
	font-size:2.25rem;
	position:absolute;
	top:0.25rem;
	left:1.25rem;
}

.notification > div {
	border: 1px solid #c49128;
	position: relative;
}

.notification > div::before {
	content:"\f06a";
	color:#c49128;
	font-family:"FontAwesome" !important;
	font-size:2.25rem;
	position:absolute;
	top:0.25rem;
	left:1.25rem;
}

.information > div {
	border: 1px solid #0080b8;
	position: relative;
}

.information > div::before {
	content:"\f05a";
	color:#0080b8;
	font-family:"FontAwesome" !important;
	font-size:2.25rem;
	position:absolute;
	top:0.25rem;
	left:1.25rem;
}

.error > div {
	border: 1px solid #edd2d6;
	color: #cc0033;
	position: relative;
}

.error > div::before {
	content:"\f057";
	color:#cc0033;
	font-family:"FontAwesome" !important;
	font-size:2.25rem;
	position:absolute;
	top:0.25rem;
	left:1.25rem;
}


/* Table Styles */

table p {
	margin:0;
}
thead {
	    background-color: #00659e;
    color: #ffffff;
}

th, tr, td {
	padding:.75rem;
}

tbody tr {
	border-bottom: 1px solid #666666;
}

tr.read {
	background-color:#eeeeee;
}

tr.unread {
	background-color:#ffffff;
}

tr.select {
	
      background-color: #dce8ef !important;
}

td p.expire {
	color:#b95726;
	font-weight:900;
}
