@charset "utf-8";



hr {
	margin-top:.2em;
}

.mycal-alert {
	margin-bottom:20px;
}

.mycal-alert-body h3, .mycal-alert-body p {
	color: #000000;
}

.mycal-alert-heading {
	font-weight:700;
}

/* Body */

body {
	font-family: 'Open Sans', arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	color: #000000;
}

label {
	
	font-size: 0.875rem;
		font-weight:600;
	color:#000000;
}

.helper-text {
	
	font-size: 0.875rem;
	font-weight:600;
	color:#333333;
	margin:5px 0 5px 0;

}

/* Headings */

.typography p {
	    margin-top: 0px;
    font-size: 0.875rem;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', arial, sans-serif;
	line-height: 1.1;
	color: #666666;
}
h1 {
	font-size: 2.25rem;
	font-weight: 500;
}
h2 {
	font-size: 1.75rem;
	font-weight: 300;
}
h3 {
	font-size: 1.625rem;
	font-weight: 300;
}
h4 {
	font-size: 1.4375rem;
	font-weight: 300;
}
h5 {
	font-size: 1.2rem;
	font-weight: 300;
}
h6 {
	font-size: 1.0625rem;
	font-weight: 500;
}

/* Numbers */

.big-number {
	font-size: 1.5rem;
	font-weight:600;
	color:#666666;	
}

.small-number {
	font-size: 1.25rem;
	font-weight:500;
	color:#666666;	
}


/* Buttons */

.button {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 500;
	text-align: center;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.6;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-right: .5rem;
	width: inherit;
}
.mycal-button, .mycal-button.active {
	color: #ffffff;
	background-color: #b95726;
	border-color: #a44d22;
}
.mycal-button:hover, .mycal-button-hover {
	color: #ffffff;
	background-color: #8f431d;
	border-color: #713517;
	text-decoration: none;
}
.mycal-button:focus, .mycal-button-focus {
	color: #a3582d;
	background-color: #fff;
	border-color: #a3582d;
	outline-color: #a3582d;
	outline-offset: -3px;
	outline-style: solid;
	outline-width: 3px;
}
.mycal-button-secondary, .mycal-button-secondary.active {
	color: #23518b;
	background-color: #cce0eb;
	border-color: #9fc3d7;
}
.mycal-button-secondary:hover, .mycal-button-secondary-hover {
	color: #103d77;
	background-color: #96bacf;
	border-color: #78aac6;
}
.mycal-button-secondary:focus, .mycal-button-secondary-focus {
	color: #23518b;
	background-color: #cce0eb;
	border-color: #9fc3d7;
	outline-color: #a3582d;
	outline-offset: -3px;
	outline-style: solid;
	outline-width: 3px;
}
.mycal-button-tertiary, .mycal-button-tertiary.active {
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
}
.mycal-button-tertiary:hover, .mycal-button-tertiary-hover {
	color: #333333;
	background-color: #e6e6e6;
	border-color: #adadad;
}
.mycal-button-tertiary:focus, .mycal-button-tertiary-focus {
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
	outline-color: #a3582d;
	outline-offset: -3px;
	outline-style: solid;
	outline-width: 3px;
}
.disabled {
	opacity: .5;
}
/*Color Boxes*/

.colors p {
		margin-top: 0px;
	font-size: 0.875rem;
}
.color-box {
	display: block;
	margin-right: 2.35765%;
	width: 80%;
	margin-bottom: 0;
	padding-top: 65%;
}
.color-box-small {
	display: block;
	margin-right: 2.35765%;
	width: 80%;
	margin-bottom: 0;
	padding-bottom: 50%;
}
.calpers-blue {
	background-color: #006699;
}
.calpers-grey {
	background-color: #88898d;
}
.navbar-blue {
	background-color: #cce0eb;
}
.calpers-grey-hover {
	background-color: #e2e2e2;
}
.dynamic-blue {
	background-color: #0080b8;
}
.dynamic-blue-hover {
	background-color: #e1ebef;
}
.dark-grey {
	background-color: #666666;
}
.sunspark-gold {
	background-color: #f4b125;
}
.white {
	background-color: #ffffff;
	border: 1px solid #000000;
}
.spark-orange {
	background-color: #b95726;
}
.purple {
	background-color: #715192;
}
.gray-darker {
	background-color: #222222;
}
.gray-dark {
	background-color: #333333;
}
.gray {
	background-color: #555555;
}
.gray-light {
	background-color: #777777;
}
.gray-lighter {
	background-color: #eeeeee;
}
.green {
	background-color: #689844;
}
.green-hover {
	background-color: #dae2c7;
}
.yellow {
	background-color: #c49128;
}
.yellow-hover {
	background-color: #f9edcd;
}
.red {
	background-color: #cc0033;
}
.red-hover {
	background-color: #f4e4e4;
	
	
	
}
/* Header and Navigation Styles */

.mycal-navbar {
	background-color: #00659e;
}
.mycal-nav {
	background-color: #cce0eb;
	border-bottom: #cce0eb;
}

.mycal-nav.is-visible{
	background-color: #00659e;	
}

.mycal-nav .mycal-nav-primary {
	background-color: #cce0eb;
}
.mycal-nav .mycal-nav-link, .mycal-nav .mycal-nav-primary > li > a {
	color: #000000;
}
.mycal-nav-secondary {
	color: #ffffff;
	bottom: 1rem;
}
.mycal-nav-secondary-links a {
	color: #ffffff;
}
.mycal-nav-secondary-links a:hover {
	color: #ffffff;
}
