@charset "utf-8";
/* CSS Document */


/* Buttons */


.button {
 display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;	

}

.mycal-button, .mycal-button.active {
	
	color: #ffffff;
    background-color: #b95726;
    border-color: #a44d22;	
}


.mycal-button:hover {
    color: #ffffff;
    background-color: #8f431d;
    border-color: #713517;
}

.mycal-button-hover {
    color: #ffffff;
    background-color: #8f431d;
    border-color: #713517;
}

.mycal-button:focus {
	    color: #a3582d;
    background-color: #fff;
    border-color: #a3582d;
    outline-color: #a3582d;
    outline-offset: -3px;
	
}
.mycal-button-focus {
	    color: #a3582d;
    background-color: #fff;
    border-color: #a3582d;
    outline-color: #a3582d;
    outline-offset: -3px;
	
}

.mycal-button-disabled{
opacity:.5;
	
}

